{% extends 'base.html.twig' %}

{% block title %}Receta index{% endblock %}

{% block body %}
    <h1>Receta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RecetaNombre</th>
                <th>RecetaImg</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recetum in recetas %}
            <tr>
                <td>{{ recetum.id }}</td>
                <td>{{ recetum.recetaNombre }}</td>
                <td>{{ recetum.recetaImg }}</td>
                <td>
                    <a href="{{ path('receta_show', {'id': recetum.id}) }}">show</a>
                    <a href="{{ path('receta_edit', {'id': recetum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('receta_new') }}">Create new</a>
{% endblock %}
