{% extends 'base.html.twig' %}

{% block title %}Ingrediente index{% endblock %}

{% block body %}
    <h1>Ingrediente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IngredienteDsc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.id }}</td>
                <td>{{ ingrediente.ingredienteDsc }}</td>
                <td>
                    <a href="{{ path('ingrediente_show', {'id': ingrediente.id}) }}">show</a>
                    <a href="{{ path('ingrediente_edit', {'id': ingrediente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ingrediente_new') }}">Create new</a>
{% endblock %}
